.articles-page {
  .articles {
    padding-top: 250px;
    margin-bottom: 100px;
  }
  font-family: $ah-font;
  h2 {
    color: $main-color;
  }
  article {
    margin-bottom: 50px;
  }
  .article-image {
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  .article-description {
    color: #5c575f;
    h4 {
      margin-top: 15px;
      a {
        font-size: 26px;
        color: #6f6a72;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: $main-color !important;
          text-decoration: underline !important;
          transition: 0.3s;
        }
      }
    }
    span {
      color: $main-color;
    }
    .time-block {
      font-size: 12.6px;
      color: #aaaaaa;
      margin-bottom: 15px;
      time::before {
        content: '\f017';
        font-family: fontawesome;
        margin-right: 0.3rem;
      }
    }
    .button-wrapper {
      margin-top: 50px;
    }
  }
}
