.press-release-page {
  .press {
    padding-top: 210px;
    margin-bottom: 100px;
    p {
      color: #5c575f;
      font-size: 20px;
      line-height: 28px;
    }
  }

  font-family: $ah-font;
  h2 {
    margin-top: 40px;
    color: $main-color;
    text-transform: uppercase;
  }
  .tabs-container {
    .tabs {
      background-color: #f2f2f2;
      display: flex;
      flex-flow: row nowrap;
      margin-top: 40px;
      .tab {
        display: flex;
        flex-flow: column;
        justify-content: center;
        overflow: hidden;
        border-color: #e8e8e8;
        border-top: 2px solid transparent;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        color: $main-color;
        a {
          cursor: pointer;
          padding: 0.2em 1em;
          text-transform: uppercase;
          font-family: $oswald-font;
          font-size: 32px;
          letter-spacing: -1px;
        }
      }
    }
    .slide-container {
      .slide {
        display: none;
      }
      .slide-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 25px 15px;
      }
      .circle {
        display: flex;
        min-width: 60px;
        border-radius: 50%;
        min-height: 60px;
        margin-right: 25px;
        color: #fff;
        flex-flow: column;
        justify-content: center;
        background: #dd0808;
        svg {
          display: block;
          margin: 0 auto;
          width: 30px;
          height: 40px;
          fill: #fff;
        }
      }
    }
  }
}
