.contact-page {
  .contact {
    padding-top: 209px;
    font-family: $ah-font;
    color: #5c575f;
    .contact-image {
      margin: 30px auto 50px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .contact-info {
      h3 {
        color: $main-color;
      }
      p {
        font-size: 20px;
        line-height: 36px;
      }
    }
    .form-block {
      margin-bottom: 50px;
    }
    .contact-form {
      padding: 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      h3 {
        font-size: 36px;
        line-height: 42px;
        border-bottom: 1px solid #eee;
        padding: 25px;
      }
      form {
        display: flex;
        flex-flow: column nowrap;
        padding: 50px 0 0;
        div {
          padding: 0 50px;
        }
        input {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #9e9e9e;
          border-radius: 0;
          outline: none;
          height: 3em;
          width: 100%;
          font-size: 1em;
          margin: 10px 0;
          padding: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          color: #424242;
        }
        button {
          cursor: pointer;
          margin: 50px 0 0;
          background: #f5f5f5;
          color: #757575;
          -webkit-box-shadow: none;
          box-shadow: none;
          font-size: 1.142857142857143em;
          padding: 0.8em 2em;
          border-radius: 0;
          border: 0 none;
          overflow: hidden;
          text-transform: uppercase;
        }
      }
    }
  }
}
