.complex-services-page {
  font-family: $ah-font;
  h2 {
    color: $main-color;
  }
  .services {
    padding-top: 250px;
  }
  .services-description {
    font-size: 20px;
    line-height: 28px;
    color: #5c575f;
  }
  .service-block {
    position: relative;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    color: #fff;
    min-height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 50px;
    padding: 15px;
    cursor: pointer;
    h4 {
      text-align: center;
      transition: 0.3s ease-in-out;
      transform: translateY(0);
    }
    &:hover {
      h4 {
        transform: translateY(-300%);
      }
      .wrapp {
        opacity: 1;
        i {
          transform: translateY(0) !important;
        }
      }
    }
    .wrapp {
      display: flex;
      flex-flow: column;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      transition: 0.2s;
      top: 0;
      opacity: 0;
      bottom: 0;
      text-align: center;
      i {
        font-size: 70px;
        transition: 0.2s;
        transform: translateY(300%);
      }
    }
  }
  .orange {
    background-color: #ef612d;
  }
  .orange-light {
    background-color: $main-color;
  }
  .blue-light {
    background-color: #4790cb;
  }
  .blue-light-wrapp {
    background-color: #5079db;
  }
  .blue {
    background-color: #004b8e;
  }
  .blue-wrapp {
    background-color: #00457a;
  }
  .purpule {
    background-color: #976d8c;
  }
  .purpule-wrapp {
    background-color: #8c6784;
  }
  .green {
    background-color: #84c546;
  }
  .green-wrapp {
    background-color: #73bf3d;
  }
  .blue-second {
    background-color: #005689;
  }
  .blue-second-wrapp {
    background-color: #015077;
  }
  .gray {
    background-color: #66747e;
  }
  .gray-wrapp {
    background-color: #525f5f;
  }
  .yellow {
    background-color: #e9aa00;
  }
  .yellow-wrapp {
    background-color: #d38d00;
  }
}
