.career-page {
  .career {
    padding-top: 250px;
    font-family: $ah-font;
    h2 {
      color: $main-color;
    }
    .career-item {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 2.5rem 3rem;
      border-radius: 0.3rem;
      background-color: #f2f2f2;
      margin-bottom: 25px;
      h3 {
        color: #6e7a81;
      }
      a {
        position: relative;
        background: $main-color;
        color: #fff !important;
        padding: 15px 10px;
        border-radius: 0.3em;
        letter-spacing: 0em;
        font-size: 15px;
        font-weight: bold;
        min-width: 135px;
        text-align: center;
        text-transform: uppercase;
        box-shadow: 0 0em 0em rgba(0, 0, 0, 0.18);
        cursor: pointer;
        &:hover::before {
          height: 100%;
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 0;
          height: 0;
          transition: height 0.3s;
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
