.contact {
  font-family: $ah-font;
  .bg-color {
    background-color: $main-color;
  }
  .contact-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #fff;
    padding: 1rem 0;
    div {
      flex: 1;
      margin: 15px;
      border-radius: 0.3em;
      text-align: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    h3 {
      text-align: left;
    }
    div:first-child {
      margin-left: 0;
    }
    div:last-child {
      margin-right: 0;
    }
    a {
      position: relative;
      text-transform: uppercase;
      width: 100%;
      line-height: 100%;
      font-weight: bold;
      padding: 15px 10px;
      cursor: pointer;
      min-width: 200px;
      span {
        position: relative;
        line-height: 1.9;
        z-index: 1;
      }
      &:hover::before {
        height: 100%;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        height: 0;
        transition: height 0.3s;
        background-color: rgba(0, 0, 0, 0.15);
      }
      i {
        font-size: 18px;
        margin-right: 15px;
      }
    }
  }
}
