.corparate {
  color: $main-color;
  font-family: $ah-font;
  margin-bottom: 25px;
  h2 {
    text-transform: uppercase;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .corparate-links {
    div {
      margin-bottom: 15px;
    }
  }
}
