.experience {
  background: $main-color;
  .experience-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #fff;
    padding: 2rem 0;
    font-family: $ah-font;
    .flex-column {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      text-align: center;
      flex: 1;
      min-width: 200px;
      h5 {
        font-size: 56px;
      }
      span {
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
}
