.info-atalian {
  margin: 50px 0;
  font-family: $ah-font;
  h2 {
    text-transform: uppercase;
    color: $main-color;
  }
  .info-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    flex: 1;
    min-width: 225px;
    margin-bottom: 30px;
    .logo-item {
      margin-right: 26px;
    }
    i {
      font-size: 48px;
      min-width: 41px;
    }
    .description-item {
      h4 {
        font-size: 22px;
        min-height: 55px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        color: #3f3f3f;
        font-weight: 400;
      }
    }
    i,
    h4 {
      color: $main-color;
    }
  }
  .info-button-wrapper {
    color: $main-color;
    text-align: center;
    margin-top: 50px;
  }
}
