.wrapper {
  padding-top: 209px;
}
.main-atalian {
  display: flex;
  align-items: center;
  background: url('../img/index/Atalian-background-site.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  @media screen and (max-width: 1070px) {
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    .features-container {
      right: 0 !important;
    }
    .main-logo {
      img {
        left: 0 !important;
      }
    }
  }
  .features-container {
    position: relative;
    z-index: 15;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    right: -150px;
  }
  .features-block {
    color: rgb(69, 85, 96);
    font-family: $oswald-font;
    border: 2px solid rgba(69, 85, 96, 0.5);
    cursor: pointer;
    padding: 15px 10px;
    letter-spacing: 3px;
    white-space: nowrap;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
    transition: 0.3s;
    &:hover {
      a {
        color: #fff;
      }
    }
    a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: rgb(69, 85, 96);
      text-decoration: none;
      line-height: 14px;
    }
    i {
      font-size: 20px;
      margin-right: 15px;
    }
  }
  .main-logo {
    position: relative;
    opacity: 0;
    transform: scale(0.7);
    transition: 1s;
    img {
      z-index: 14;
      left: -100px;
      position: relative;
      max-width: 100%;
    }
  }
  .orange-block {
    &:hover {
      background-color: $main-color;
    }
  }
  .blue-light {
    &:hover {
      background-color: #4790cb;
    }
  }
  .blue {
    &:hover {
      background-color: #004b8e;
    }
  }
  .blue-second {
    &:hover {
      background-color: #005689;
    }
  }
  .gray {
    &:hover {
      background-color: #66747e;
    }
  }
  .purpule {
    &:hover {
      background-color: #976d8c;
    }
  }
  .green {
    &:hover {
      background-color: #84c546;
    }
  }
  .yellow {
    &:hover {
      background-color: #e9aa00;
    }
  }
}
