.news {
  font-family: $ah-font;
  margin: 50px 0;
  h2 {
    color: $main-color;
  }
  .news-block {
    color: #5c575f;
    h2 {
      margin: 15px 0;
    }
    article {
      margin-bottom: 15px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    a {
      font-size: 26px;
      color: #000 !important;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: $main-color !important;
        text-decoration: underline !important;
        transition: 0.3s;
      }
    }
    .time-block {
      font-size: 12.6px;
      color: #aaaaaa;
      margin-bottom: 15px;
      time::before {
        content: '\f017';
        font-family: fontawesome;
        margin-right: 0.3rem;
      }
    }
    p {
      color: #5c575f;
      font-size: 14px;
    }
  }
}
