.service {
  margin-top: 100px;
  color: $main-color;
  font-family: $oswald-font;
  .container-service {
    margin: 25px 0 50px;
    h2 {
      text-transform: uppercase;
      font-weight: 300;
    }
    .service-block {
      .flex-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
      }
      .service-item {
        position: relative;
        &:hover {
          .description-block {
            opacity: 1;
            background-color: $main-color;
          }
          h3,
          p {
            transform: translateY(0) !important;
          }
        }
        img {
          max-height: 200px;
          max-width: 200px;
        }
        .description-block {
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          width: 100%;
          display: block;
          height: 100%;
          opacity: 0;
          transition: all 0.35s ease-in-out;
          color: #fff;
          font-family: Arial, Helvetica, sans-serif;
          .description-content {
            display: block;
            position: absolute;
            width: 100%;
            height: auto;
            top: 50%;
            transform: translateY(-50%);
            text-transform: uppercase;
            h3 {
              margin: 5px 20px;
              font-size: 22px;
              line-height: 28px;
              transform: translateY(100%);
              transition: all 0.35s ease-in-out;
            }
            span {
              margin: 7px auto;
              border-style: solid;
              border-color: rgba(255, 255, 255, 0.75);
              width: 100px;
              border-width: 1px;
              max-width: 100%;
              display: block;
            }
            p {
              font-size: 12px;
              line-height: 18px;
              transform: translateY(100%);
              transition: all 0.35s ease-in-out;
            }
          }
        }
      }
    }
  }
}
