.our-services-page {
    .separator-block{
        color: #4790CB;
    }
    .template {
        padding-top: 250px;
        margin-bottom: 100px;
        p {
          color: #5c575f;
          font-size: 20px;
          line-height: 28px;
        }
        .f-img {
            max-width: 100%;
            margin-bottom: 2em;
        }

        .list{
            font-size: 20px;
            font-family: Arial;
            line-height: 36px;
            color: #5C575F;
            margin-bottom: 10em;
        }
        .list1{
            color: #5C575F;	
            font-family: Arial;	
            font-size: 16px;	
            line-height: 24px;
            margin-bottom: 5em;
        }
      }
    
      font-family: $ah-font;
      h2 {
        color:#4790CB;
        text-transform: uppercase;
      }

      .slider{
          display: block;
          height: auto;
          width: 100%;
          img {
              display: block;
              max-width: 100%;
              height: auto;
              text-align: center;
              padding: 2rem;
          }
          .slick-arrow{
              display: none !important;
          }
          .slick-prev{
            display: none;
          }
          .slick-next{
            display: none;
          }
      }
      
      

      .spoilers-container {
        display: flex;
        flex-flow: column;
        .spoiler {
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .flex-row {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          border-style: solid;
          border-width: 1px 0 0 0;
          border-bottom-width: 1px;
          border-color: #e8e8e8;
          padding: 15px 5px;
          cursor: pointer;
          i {
            font-size: 20px;
            transition: 0.3s;
          }
        }
        .spoiler-inner {
          display: none;
          p {
            color: #6F6A72;
            font-family: Arial;
            font-size: 26px;
            line-height: 36px;
          }
          span{
            color: #6F6A72;		
            font-size: 14px;	
            line-height: 24px;
          }
          .button-wrapper{
            padding-bottom: 3em;
            .info-button{
                border-color: #4790cb;
                color: #4790CB;
                &:hover {
                    background-color: #4790CB;  
                }
                &::before {
                    background-color: #4790CB;
                }
              }
          }
        }
      } 
}