.employees-page {
  //   padding: 1000px;
  font-family: $ah-font;
  .employees {
    padding-top: 250px;
  }
  h2 {
    color: $main-color;
  }
  .manage-info {
    color: #5c575f;
  }
  .employees-block {
    text-align: center;
    margin-bottom: 25px;
    h4 {
      color: $main-color;
      font-size: 26px;
      line-height: 36px;
    }
  }
}
