.materials-page {
  font-family: $ah-font;
  .materials {
    padding-top: 250px;
    margin-bottom: 100px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  h2 {
    color: $main-color;
  }
  h4 {
    color: #6f6a72;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    margin: 15px 0;
  }
  .item {
    margin-bottom: 25px;
  }
}
