.template-page {
  .template {
    padding-top: 250px;
    margin-bottom: 100px;
    p {
      color: #5c575f;
      font-size: 20px;
      line-height: 28px;
    }
  }

  font-family: $ah-font;
  h2 {
    color: $main-color;
  }

  .spoilers-container {
    display: flex;
    flex-flow: column;
    .spoiler {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .flex-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      border-style: solid;
      border-width: 1px 0 0 0;
      border-bottom-width: 1px;
      border-color: #e8e8e8;
      padding: 15px 5px;
      cursor: pointer;
      i {
        font-size: 20px;
        transition: 0.3s;
      }
    }
    .spoiler-inner {
      display: none;
    }
  }
}
