.presentation-page {
  font-family: $ah-font;
  color: #5c575f;
  h2 {
    color: $main-color;
  }
  .global-info {
    padding-top: 250px;
    p {
      margin-top: 50px;
      font-size: 20px;
    }
    ul {
      padding-left: 30px;
      li {
        padding-left: 15px;
        font-size: 20px;
        line-height: 36px;
      }
    }
    .cube-wrapper {
      margin: 50px 0;
      img {
        display: block;
        margin: 0 auto;
        max-width: 470px;
        max-height: 450px;
        width: 100%;
      }
    }
  }
  .in-country {
    margin-top: 50px;
    p {
      margin-top: 50px;
      font-size: 20px;
    }
  }
  .difference {
    margin-top: 100px;
    ul {
      padding-left: 30px;
      li {
        padding-left: 15px;
        font-size: 20px;
        line-height: 36px;
      }
    }
  }
  .dynamic {
    margin: 50px 0;
    img {
      width: 100%;
    }
  }
  .download-block {
    color: $main-color;
    margin: 50px auto;
    text-align: center;
  }
}
