footer {
  background-color: #455560;
  color: #fff;
  font-family: $ah-font;
  .footer-first-section {
    h3 {
      font-size: 22px;
      padding: 25px 0;
    }
    .text-footer {
      font-size: 12.6px;
      line-height: 21px;
    }
  }
  .footer-second-section {
    .col-12 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    padding: 25px 0;
    @media screen and (max-width: 992px) {
      ul {
        li:first-child {
          margin-left: 0;
        }
        padding: 0;
      }
    }
    p {
      font-size: 12.6px;
      margin: 15px 0;
    }
    ul {
      display: flex;
      margin: 15px 0;
      li {
        margin-left: 25px;
        list-style: none;
        font-size: 12.6px;
        cursor: pointer;
        &:hover::after {
          bottom: -2px;
          opacity: 1;
        }
      }
    }
  }
}
