@import 'settings';
header {
  position: fixed;
  width: 100%;
  z-index: 111;
  background: #fff;
}
.subheader-first {
  font-family: Arial, Helvetica, sans-serif;
  height: 59px;
  line-height: 55px;
  background: $main-color;
  .col {
    display: flex;
    justify-content: space-between;
  }
  .container {
    max-width: 1140px !important;
  }
  .subheader-first-left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #fff;
    h6 {
      min-width: 150px;
      margin: 0 15px 0;
      font-weight: bold;
    }
    .dropdown {
      display: flex;
      flex-flow: column;
      line-height: initial;
      font-size: 13px;
      a:not(.active) {
        background: $main-color;
      }
      .menu-item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-left: 13px;
        line-height: 26px;

        img {
          width: 18px;
          height: 18px;
          margin-right: 5px;
        }
      }
      .active {
        position: relative;
        padding-right: 25px;
      }
      .active::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        content: '\f107';
        font-size: 1.4em;
        margin-top: -0.5em;
        font-family: fontawesome;
        cursor: pointer;
      }
      .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        height: 0;
        transition: height 0.3s;
        background: $main-color;
      }
    }
  }
  .subheader-first-right {
    display: flex;
    .links {
      display: flex;
      flex-flow: row nowrap;
      margin-left: 25px;
    }
    .phone-contact {
      @media screen and (max-width: 1070px) {
        a {
          font-size: 14px;
        }
      }
      @media screen and (max-width: 780px) {
        display: none;
      }
    }
    a {
      position: relative;
      width: 36px;
      z-index: 0;
      line-height: 2;
      padding: 9px 0;
      text-align: center;
      color: #fff !important;
      font-size: 18px;
      cursor: pointer;
      .linked {
        background-color: #117eb9;
      }
      .vimeo {
        background-color: #1ab7ea;
      }
      .facebook {
        background-color: #3b5998;
      }
      .linked,
      .vimeo,
      .facebook {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        height: 0;
        transition: height 0.3s;
        z-index: -1;
      }
      &:hover {
        .linked,
        .vimeo,
        .facebook {
          height: 100%;
          bottom: 0;
          transition: height 0.3s;
        }
      }
    }
  }
  .flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}
.subheader-second {
  display: flex;
  justify-content: flex-end;
  font-family: $oswald-font;
  max-width: 1140px !important;
  .nav-menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .second-list {
      margin-top: 10px;
    }
  }
  button {
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      background-color: $main-color;
    }
  }
  ul {
    display: flex;
    margin-bottom: 0;
    @media screen and (max-width: 1070px) {
      .first-list-title,
      .second-list-title {
        position: absolute;
        flex-flow: column;
        overflow: hidden;
        top: 100%;
        left: -15px;
        height: 0;
        width: 110%;
        // overflow-y: hidden;
        transition: 0.3s;
        background-color: #fff;
      }
      .first-list {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        // padding: 10px 30px;
        // line-height: 1.6em;
        transition: 0.3s;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  .first-list {
    margin-left: 25px;
    line-height: 30px;
    cursor: pointer;
    @media screen and (min-width: 1070px) {
      &:hover {
        .second-list {
          transform: scaleY(1) translateZ(0);
          opacity: 1;
        }
      }
    }
  }
  li {
    list-style: none;
    font-size: 18px;
    .first-list-title,
    .second-list-title {
      color: $main-color !important;
    }
    @media screen and (max-width: 1070px) {
    }
  }
}
.subheader-third {
  background-color: #f2f2f2;
  color: #6e7a81;
  line-height: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  .container {
    max-width: 1140px !important;
  }
  .link-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  @media screen and (max-width: 1070px) {
    line-height: 15px;
    .subheader {
      padding: 15px 0;
    }
    img {
      height: 50px !important;
    }
  }
  .subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: inherit;
    .logo-home {
      position: relative;
      img {
        height: 70px;
      }
    }
    .cell {
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .header-title {
      color: $main-color;
      padding-left: 25px;
      text-align: center;
      span {
        width: 100%;
      }
    }
    .header-menu {
      justify-content: flex-end;
      .main-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        color: #6e7a81;
        font-family: $oswald-font;
        li {
          font-size: 18px;
          cursor: pointer;
        }
        @media screen and (max-width: 1070px) {
          position: absolute;
          flex-flow: column;
          overflow: hidden;
          top: 100%;
          left: 0;
          height: 0;
          width: 100%;
          overflow-y: auto;
          transition: 0.3s;
          background-color: #f2f2f2;
          .first-list {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
            padding: 10px 30px;
            line-height: 1.6em;
            transition: 0.3s;
            &:hover {
              color: $main-color;
            }
          }
        }
      }
      .first-list {
        text-transform: uppercase;
        padding: 0 20px;
        @media screen and (max-width: 1070px) {
          a {
            display: flex;
            justify-content: space-between;
          }
          .arrow {
            transition: 0.3s;
            &::after {
              font-size: 1.5em;
              content: '\f107';
              vertical-align: top;
              font-family: fontawesome;
            }
          }
        }
        .second-list {
          line-height: initial;
        }
        @media screen and (min-width: 1070px) {
          &:hover {
            .second-list {
              transform: scaleY(1) translateZ(0);
              opacity: 1;
            }
          }
        }
      }
      .search {
        padding: 15px;
        line-height: initial;
      }
      .search:hover {
        color: $main-color;
        cursor: pointer;
      }
      .search-form {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        z-index: 100;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #f2f2f2;
        color: #6e7a81;
        input[type='text'] {
          position: absolute;
          top: 50%;
          left: 6%;
          font-size: 3rem;
          line-height: 1.5;
          text-align: center;
          height: auto;
          width: 88%;
          padding: 0;
          border-radius: 0;
          transform: translateY(-50%);
          display: block;
          box-shadow: none !important;
          border: none !important;
          background-color: transparent;
          color: inherit;
          transition: none;
          vertical-align: top;
          text-transform: none;
          outline: 0;
          margin: 0;
        }
        .search-close {
          font-size: 3rem;
          line-height: 6rem;
          width: 6rem;
          position: absolute;
          top: 0;
          right: 0;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          opacity: 0.5;
          transition: color 0.3s, opacity 0.3s, transform 0.3s;
          &::before {
            content: '\2715';
            vertical-align: top;
          }
        }
      }
    }
  }
}
.show-form {
  transform: translateY(0) !important;
}
.menu-title {
  color: inherit;
  z-index: 5;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
.first-list:hover {
  @media screen and (min-width: 1070px) {
    .menu-title::after {
      bottom: -2px;
      opacity: 1;
    }
  }
}
.second-list {
  flex-flow: column nowrap;
  color: #666666;
  background: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  display: block;
  transform-origin: 50% 0;
  transform: scaleY(0) translateZ(0);
  opacity: 0;
  @media screen and (min-width: 1070px) {
    transition: transform 0.3s, opacity 0.3s;
  }
  text-align: left;
  position: absolute;
  z-index: 10;
  min-width: 12rem;
  padding: 0;
  // margin-top: 15px;
  li {
    list-style: none;
    padding: 0.6em 20px;
    a {
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      color: $main-color;
    }
  }
}

.hamburger {
  display: none;
  @media screen and (max-width: 1070px) {
    display: inline-block;
  }
  padding: 10px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #6e7a81;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  line-height: initial;
  overflow: visible;
  &:focus {
    outline: 0;
  }
  .hamburger-box {
    width: 22px;
    height: 16px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 22px;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: '';
    display: block;
  }
  .hamburger-inner::before {
    top: -8px;
  }
  .hamburger-inner::after {
    bottom: -8px;
  }
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
