.separator-block {
  overflow: hidden;
  text-align: center;
  margin-bottom: 25px;
  color: $main-color;
  span {
    position: relative;
  }
  span::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 50%;
    height: 0;
    width: 200rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: inherit;
    right: 100%;
    margin-right: 1rem;
    margin-top: -1px;
    border-top-width: 2px;
  }
  span::after {
    content: '';
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 50%;
    height: 0;
    width: 200rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: inherit;
    left: 100%;
    margin-left: 1rem;
    margin-top: -1px;
    border-top-width: 2px;
  }
}
.info-button {
  position: relative;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: $main-color;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 16px 1.8em;
  border-radius: 0.3em;
  letter-spacing: 0em;
  box-shadow: 0 0em 0em rgba(0, 0, 0, 0.18);
  transition: 0.3s;
  background-color: #fff;
  color: $main-color;
  span {
    position: relative;
    z-index: 10;
  }
  &:hover {
    color: #fff !important;
    background-color: $main-color;
    border-color: #ec732c;
    span {
      color: #fff !important;
    }
  }
  &:hover::before {
    height: 100%;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $main-color;
    height: 0;
    z-index: 0;
    transition: height 0.3s;
  }
}
.linked {
  background-color: #117eb9;
}
.vimeo {
  background-color: #1ab7ea;
}
.facebook {
  background-color: #3b5998;
}
.menu-title {
  position: relative;
}
.menu-title::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.4em;
  margin: 0 auto -2px;
  height: 2px;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  background-color: $main-color;
}
.show {
  height: auto !important;
}
.show-list {
  position: relative;
  transform: scaleY(1) translateZ(0);
  opacity: 1;
  transition: 0;
}
.show-height {
  height: 100% !important;
}
.rotate {
  transform: rotate(180deg);
}
.display-block {
  display: block !important;
}
.tab-active {
  border-color: $main-color !important;
}
.slide-show {
  display: block !important;
}
